@model ICollection<QuestRoomMVC.BLL.DtoModels.QuestRoomDto>

<div class="row">
    @foreach (var r in Model)
    {
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="card">

                <img src=@r.Logo class="card-img-top" />

                <div class="card-header">
                    <h5 class="card-title">@r.Name</h5>
                </div>

                <div class="card-body">
                    <h6 class="card-text">@r.Email</h6>
                    <p class="card-text">@r.CompanyName</p>
                    @foreach (var ph in r.PhoneNumbers)
                    {
                        <p class="card-text">@ph.Number</p>
                    }

                    <div id="carousel" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            @for (int i = 0; i < r.Pictures.Count; i++)
                            {

                                <div class="carousel-item @if(i==0){
                                    <text>active</text>
                                     }">
                                    <div class="view">
                                        <img class="d-block w-100" src=@r.Pictures.ElementAt(i).Path>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button class="btn btn-success w-100"> ClickMe</button>
                </div>
            </div>
        </div>
    }
</div>
